@import '../../sass/main.scss';

.tag {
  @include flex(row, center, center);
  width: 155px;
  height: 25px;
  background-color: red;
  color: $color-primary;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  }
  