@import '../../sass/main.scss';

.card {
  text-align: center;
  text-decoration: none;
  @include flex(row, center, center);

  .card-wrap {
    position: relative;
    width: 100%;
    height: 100%;


    .locationCover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;

    }
  }

  .card-layer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: $bg-cards;


    .locationNom {
      position : absolute;
      bottom: 0;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      color: $color-primary;
      padding: 0 0 5px 5px;
    }

  }
}