@import '../../sass/main.scss';

.navBar {
    padding: 40px 0px;
    @include flex(row, space-between, center);

    .navLinks {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 36px;
        width: 100%;

        .navLink {
            text-decoration: none;
            color: $black;
            font-size: 24px;
            font-weight: 500;
        }

        .active {
            text-decoration: underline;
        }
    }
}