@import '../../sass/main.scss';

.navBar {
    padding: 40px 0px;
    @include flex(row, space-between, center);

    .navBar-logo {
        max-height: 68px;

        @media screen and (max-width: 768px) {
            max-height: 46px;
        }
    }

    .navLinks {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 36px;

        @media screen and (max-width: 768px) {
            gap: 25px;

        }

        .navLink {
            text-decoration: none;
            color: $black;
            font-size: 24px;
            font-weight: 500;

            @media screen and (max-width: 768px) {
                font-size: 12px;
    
            }
        }

        .active {
            text-decoration: underline;
        }
    }
}