@import '../../sass/main.scss';

.collapse {
    background-color: $color-tertiary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    border-radius: 10px;

    .collapse-title {
        @include flex(row, space-between, center);
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 10px;
        font-weight: 500;
        padding: 10px 15px;
        cursor: pointer;
        margin: 0;
        position: relative;

        .arrow {
            transition: all 0.2s ease-in-out;
        }

        .arrow_up {
            transform: rotate(0deg);
        }

        .arrow_down {
            transform: rotate(180deg);
        }
    }

    .collapse-content {
        display: flex;
        flex-direction: column;
        opacity: 1;
        margin: 0 10px;

        p {
            margin: 12px 7px
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;


            li {
                margin: 12px;
            }
        }
    }

}

.collapse-content-hidden {
    position: absolute;
    opacity: 0;
    height: 0;
}