@import '../../sass/main.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    background-color: $black;
    text-align: center;
    height: 200px;
    @include flex(row, center, center);

    .footer_content {
        @include flex(column, center, center);
        flex-wrap: wrap;

        .footer_logo {
            display: flex;
            width: 122px;
            margin: 18px;
        }

        .footer_text {
            color: $color-primary;
            font-size: 24px;
            font-weight: 500;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 20px 0 43px;

        .footer_content {
            .footer_logo {
                margin: 10px 0; 
            }

            .footer_text {
                font-size: 12px; 
                width: 60%;
            }
        }
    }
}
