@import '../../sass/main.scss';

.main-content {
  margin: 0 60px;

  .cards-container {
    background-color: $color-tertiary;
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
  }
}