.cards-container {
    background-color: #F7F7F7;
    border-radius: 25px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 40px;
  }
  